*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


body {
    background: linear-gradient(to bottom, #FAF8F3, #F5F1EA);
    min-height: 100vh;
    position: relative;
}

/* Текстура льна - едва заметная */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/flux-bg.jpg');
    background-repeat: repeat;
    background-size: 900px 400px;
    /* Размер паттерна */
    opacity: 0.05;
    /* ОЧЕНЬ легкая текстура */
    z-index: -1;
    pointer-events: none;
}

/* Для контентных блоков */
.content-block {
    background-color: rgba(255, 255, 255, 0.9);
    /* Полупрозрачный белый */
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}